@tailwind base;
@tailwind components;
@tailwind utilities;



*_{
    padding: 0px;
    margin: 0px;
}

/* body{
    background-image: url("./images/19336199_6078269.jpg");

    background-repeat: no-repeat;
    background-size: cover;
} */

.input {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }
  
  span:hover{
    color: rgb(251,114,62);
    transition: 1s;
  }
  .logo_sub1{
    font-size: 50px;
    font-weight: 900;
    color:rgb(0, 0, 0);
  }
.img{
  width: 759px;
 
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 1s ease-in-out;
}


.img:hover {
  padding: 10px;
  filter: grayscale(0%);
}
.text-container{
  padding: 0px 0px 40px 40px ;
}

.main_text{
  font-size: 50px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  
}
.main_Subtext{
  font-size: 50px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.marquee {
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}



.dropdown {
  position: relative;
  display: inline-block;
  text-align: center; /* Ensures content aligns properly */
}

/* Dropdown button */
.dropbtn {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  text-align: center;
  /* padding: 10px; */
  background-color: transparent;
  border: none;
}

/* .dropbtn:hover {
  color: #04AA6D; /* Greenish hover effect
} */

/* Dropdown content */
.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%; /* Positioned directly below the button */
  left: 0;
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

/* Dropdown item */
.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer; /* Ensure it looks clickable */
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* Keep dropdown visible when hovering */
.dropdown:hover .dropdown-content {
  display: block;
}





/* catogery hover */


 .offcanvas-menu {
  position: fixed; /* Fixed to the viewport */
  top: 130px; /* Adjust this based on where you want it to appear */
  left: 0; /* Align with the left edge of the viewport */
  width: 96%; /* Full viewport width */
  max-width: 100vw; /* Optional: Set a maximum width */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none; /* Initially hidden */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  max-height: 120vh;
  height: 40vh; /* Prevent overflow */
  overflow-y: auto; /* Add scroll if content is too long */
  margin: 0px 20px 0px 20px ;
  border-radius: 10px;
}

.hov:hover + .offcanvas-menu,
.offcanvas-menu:hover {
  display: block; /* Make it visible on hover */
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Slide into position */
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hov{
  /* background-color: #242424; */
  width: 600px;
  height: 540px;
}
.imahov{
  background-image: url('https://static.wixstatic.com/media/c837a6_63b71efc087747c0b8e92a8106bf6b65~mv2.jpg/v1/fill/w_1326,h_995,q_90/c837a6_63b71efc087747c0b8e92a8106bf6b65~mv2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-color: #000000;

}

.imahov:hover{
  background-image: url('https://static.wixstatic.com/media/c837a6_5d12258e6a234fc1beea4ec8dc6877a0~mv2.jpg/v1/fill/w_1326,h_995,q_90/c837a6_5d12258e6a234fc1beea4ec8dc6877a0~mv2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-color: #000000;
}


.hov1{
  /* background-color: #242424; */
  width: 597px;
  height: 540px;
}

.imahov1{
  background-image: url('https://static.wixstatic.com/media/c837a6_4901bcaaf93c4a0f870f91fd9ee827be~mv2.jpg/v1/fill/w_1326,h_995,q_90/c837a6_4901bcaaf93c4a0f870f91fd9ee827be~mv2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-color: #000000;

}

.imahov1:hover{
  background-image: url('https://static.wixstatic.com/media/c837a6_aaa5bfc47f80469c8524464c43912fca~mv2.jpg/v1/fill/w_1326,h_995,q_90/c837a6_aaa5bfc47f80469c8524464c43912fca~mv2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center; /* Ensures content aligns properly */
}

/* Dropdown button */
.dropbtn {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border: none;
}

/* .dropbtn:hover {
  color: #04AA6D; /* Greenish hover effect
} */

/* Dropdown content */
.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%; /* Positioned directly below the button */
  left: 0;
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}

/* Dropdown item */
.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer; /* Ensure it looks clickable */
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* Keep dropdown visible when hovering */
.dropdown:hover .dropdown-content {
  display: block;
}




:root {
  --surface-color: #fff;
  --curve: 40;
}



.cards {
  display: grid;
  grid-template-columns: repeat(1,31vw);
  /* gap: 2rem; */
  margin: 4rem 1vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  /* height: 100%;   */
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 20vh;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: 50px 0px 0px 0px ;    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50px;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.buyerproductListContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

@media (max-width: 974px) {

  .buyerproductListContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 658px) {

  .buyerproductListContainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}


/* From Uiverse.io by Yaya12085 */ 
.ui-like {
  --icon-size: 24px;
  --icon-secondary-color: rgb(211, 205, 205);
  --icon-hover-color: rgb(250, 160, 160);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
  border: 2px solid rgb(125, 124, 124);
  border-radius: 50px;
  
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.like::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.like::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  -webkit-animation: like var(--icon-anmt-duration) forwards;
  animation: like var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
